html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 60px;
}

.logo {
  background-image: url('./img/Tesla-Wordmark-Red.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 166px;
  height: 51px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  padding: 24px 60px 0 40px;
}

.menu,
.side-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu__link,
.side-menu__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
}

.menu__item {
  position: relative;
  color: #000;
}

.menu__item:nth-child(4) {
  left: 13px;
}

.menu__item:last-child {
  left: 29px;
}

.menu__item_active {
  color: #e51937;
}

.menu__item_active:after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e51937;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu__item:not(:last-child) {
  margin-right: 31px;
}

.menu__item:nth-child(1) {
  margin-right: 63px;
}

.menu__item:nth-child(2) {
  margin-right: 25px;
}

.side-menu__item:first-child {
  position: relative;
  right: 10px;
}

.side-menu__item:not(:last-child) {
  margin-right: 30px;
}

.side-menu__item_burger {
  display: inline-flex;
  align-items: center;
}

.side-menu__burger {
  cursor: pointer;
  background-image: url('./img/burger-menu.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 24px;
  height: 15px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.presentation__title {
  font-size: 90px;
  font-weight: 600;
  line-height: 110px;
  text-align: center;
  padding-top: 56px;
}

.presentation__subtitle {
  font-size: 17px;
  font-weight: 500;
  line-height: 7px;
  text-align: center;
  margin-bottom: 31px;
}

.presentation__background {
  position: absolute;
  left: -78px;
  right: 0;
  top: 61px;
  bottom: 0;
  z-index: -1;
}

.presentation__image {
  left: -35px;
  position: relative;
  margin-bottom: 20px;
}

.presentation__background-image {
  width: 100%;
  opacity: .1;
}

.presentation__footer-left,
.presentation__footer-right {
  display: flex;
}

.stats_speed .stats__icon {
  position: relative;
  top: 6px;
  right: 9px;
}

.stats__details_speed {
  position: relative;
  right: 9px;
  top: 4px;
}

.stats__icon {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.presentation__footer-right {
  align-items: center;
}

.presentation__footer-left {
  margin-right: 106px;
}

.stats__icon_road {
  top: 9px;
  right: 10px;
}
.stats__details_road {
  right: 13px;
  position: relative;
  top: 4px;
}

.stats__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.cockpit__stat .stats__title {
  line-height: 20px;
  letter-spacing: .9px;
}

.cockpit__stats .stats__subtitle {
  letter-spacing: .7px;
}

.cockpit__stat:last-child .stats__subtitle {
  margin-top: 3px;
}

.stats__highlight-title {
  font-size: 35px;
}

.stats__subtitle {
  font-size: 12px;
}

.stats {
  display: inline-flex;
  align-items: center;
}

.stats_white .stats__title,
.stats_white .stats__subtitle {
  color: #fff;
}

.stats:first-child {
  margin-right: 80px;
}

.test-drive {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 27px;
  right: 10px;
  position: relative;
  top: 3px;
}

.test-drive__label {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 7px;
  letter-spacing: .7px;
}

.presentation__footer {
  display: flex;
  align-items: center;
}

.cockpit__stat .stats__icon {
  margin-right: 25px;
}

.order-btn {
  border: 2px solid #e51937;
  background: transparent;
  width: 160px;
  height: 40px;
  font-weight: 700;
  font-size: 13px;
  color: #e51937;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  top: 3px;
  left: 6px;
  letter-spacing: .7px;
}

.presentation__arrow {
  display: flex;
  justify-content: center;
  margin: 35px 0;
}

.cockpit__title {
  font-weight: 600;
  font-size: 70px;
  color: #e51937;
  top: 0;
  left: 81px;
  margin-bottom: -95px;
}

.cockpit {
  position: relative;
  padding-top: 56px;
}

.cockpit__description {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 440px;
  background-color: #e51937;
  padding: 49px 44px 63px 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cockpit__car-bg {
  display: block;
}

.cockpit__icon-container {
  width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.skeleton__description-title,
.skeleton__evaluation-title,
.cockpit__description-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  margin-bottom: 10px;
}

.cockpit__description-title {
  letter-spacing: 1.4px;
}

.skeleton__description-subtitle,
.cockpit__description-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 18.5px;
  color: #fff;
  margin-bottom: 68px;
  max-width: 261px;
}

.cockpit__description-subtitle {
  min-width: 89%;
  letter-spacing: .9px;
}

.skeleton .skeleton__description-subtitle {
  margin-bottom: 58px;
  max-width: 325px;
  letter-spacing: 1px;
}

.skeleton__evaluation-title {
  margin-bottom: 25px;
  letter-spacing: 1.7px;
}

.cockpit__stat {
  margin-bottom: 34px;
}

.cockpit__stat:first-child {
  margin-bottom: 43px;
}

.cockpit__stat:first-child .stats__icon {
  top: 8px;
}

.test-drive_white .test-drive__label {
  color: #fff;
}

.cockpit__description-footer .test-drive {
  margin-right: 25px;
  right: 3px;
}

.order-btn_white {
  border-color: #fff;
  color: #fff;
}

.cockpit__description-footer {
  align-items: center;
  display: flex;
  margin-bottom: 4px;
}

.skeleton__description-box {
  width: 440px;
  height: 900px;
  background-color: #e51937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skeleton__description-content {
  padding: 51px 68px 60px 56px;
}

.skeleton__description-title {
  letter-spacing: 1.2px;
}

.skeleton__quality .stats__details {
  position: relative;
  top: 4px;
  right: 10px;
}

.skeleton__description-footer {
  padding: 0 55px 63px 38px;
}

.skeleton {
  display: flex;
  overflow: hidden;
}

.skeleton__content {
  flex: 1;
}

.rating {
  padding: 0;
  max-width: 292px;
}

.rating__item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
}

.rating__small-text {
  font-size: 10px;
  opacity: .7;
}

.rating__title {
  font-size: 17px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin-right: 15px;
  letter-spacing: .8px;
}

.skeleton__footer-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skeleton__quality {
  display: flex;
  justify-content: center;
  margin-right: 0 !important;
  margin-bottom: 57px;
}

.skeleton__footer-actions .order-btn_white {
  left: 0;
}

.skeleton__footer-actions .test-drive {
  top: 2px;
  right: 0;
}

.skeleton__quality .stats__subtitle {
  font-size: 25px;
  letter-spacing: 2.1px;
}

.skeleton__description-footer .stats__title {
  line-height: 20px;
  letter-spacing: 2px;
}

.skeleton__quality .stats__highlight-title {
  font-size: 50px;
}

.skeleton__quality .stats__details {
  margin-left: 23px;
}

.skeleton__content {
  position: relative;
  background: white;
}

.skeleton__content-title {
  padding: 266px 100% 166px 0;
  background: right no-repeat url(img/Model_S.svg);
}

.skeleton__background {
  position: absolute;
  top: 223px;
  left: -95px;
}

.pin {
  position: absolute;
}

.pin_first {
  top: 0;
  left: 269px;
}

.pin_first .pin__stripe {
  height: 268px;
}

.pin_first .pin__label {
  line-height: 15px;
  top: -2px;
  left: 15px;
}

.pin_second {
  top: -47px;
  left: 548px;
}

.pin_second .pin__stripe {
  height: 119px;
}

.pin_second .pin__label {
  line-height: 16px;
  top: -4px;
}

.pin_third {
  bottom: 60px;
  left: 603px;
}

.pin_third .pin__stripe {
  height: 105px;
}

.pin_third .pin__stripe:after {
  top: -13px;
}

.pin_third .pin__label {
  min-width: 235px;
  transform: translateY(-100%);
  top: 108px;
  line-height: 17px;
}

.pin__stripe {
  width: 4px;
  background: #e51937;
  height: 92px;
  position: relative;
}

.pin__stripe:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 3px solid #e51937;
  border-radius: 50%;
  background: white;
  left: -5px;
  top: calc(100% - 1px);
}

.pin__label {
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  left: 11px;
  min-width: 175px;
  letter-spacing: .9px;
}
